.wrapper_user{
    background-color: #fdfdfa;
      height: 500px;
      width: 800px;
      margin: 0 auto;
      opacity: 100%;
      text-align: center;
      opacity: 90%;
      font-family: "Quicksand", sans-serif;
      font-weight: 300;
      padding-top: 50px;
      overflow: auto;
}

h3.user_name {
    font-family: "Montserrat", sans-serif;
      font-size: 40px;
      text-shadow: 2px 2px #e2e2e2;
}

h5.user_name {
    font-family: "Montserrat", sans-serif;
}

a.customers {
    font-size: 25px;
    text-decoration: none;
    color: #d77029; 
    transition: 0.3s;
}

a.customers:hover {
    text-shadow: 1px 1px #742e00;
}

h2.user_new {
    font-size: 45px;
}