<div class="wrapper_sign_in">

<h3 class="sign_in">Log In to RepLog</h3>

<% if flash.has?(:message) %>
    <b><font color="red" style="font-family:Quicksand;"><%= flash[:message] %></font></b>
    <br><br>
<% end %>

<form action="/login" method="POST" class="form_log_in">
  <label for="email" class="label_log_in_1">Email</label><br>
    <input type="text" name="email" class="box_sign_in"><br><br>
  <label for="password" class="label_log_in_2">Password</label><br>
    <input type="password" name="password" class="box_sign_in"><br><br>
  <button type="submit" class="button_1">Log In</button>
</form>

<br><br>

<div class="question">
    <p>New to RepLog?</p>
    <form action="/signup">
        <button type="submit" class="button_2">Sign Up</button>
    </form>
</div>

</div>