<div class="wrapper_sign_up">

<h3 class="sign_up">Sign Up</h3>

<form action="/signup" method="POST">
  <label for="username" class="username">Username</label><br>
    <input type="text" name="username" class="sign_up"><br><br>
  <label for="email" class="email">Email</label><br>
    <input type="text" name="email" class="sign_up"><br><br>
  <label for="password" class="password">Password</label><br>
    <input type="password" name="password" class="sign_up"><br><br><br>
  <button type="submit" class="sign_up">Create Account</button>
</form>
</div>
