<div class="wrapper_user">
    
    <h3 class="user_name"><%=current_user.username%></h3>
    <h4 class="user_name">Customers:</h4>

    <% if @customers.empty? %>
        <p>No Customers to Display<p>
    <% else %>
        <% @customers.each do |customer| %>
            <a href="customers/<%=customer.id%>" class="customers"><%=customer.name%><br><br>
        <% end %>
    <% end %>

    <br><br>
    
    <a href="/customers/new"><button class="sign_up">Create Customer</button></a>
    <a href="/logout"><button class="sign_up">Log Out</button></a>

    <br><br>
</div>