<!DOCTYPE html>
  <head>
    <title>RepLog</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300" rel="stylesheet">
  </head>

  <body>
    <h1><a href="/" class="replog_main">RepLog<a/></h1>
    <%= yield %>

    <footer class="copyright">
      <small>Copyright &copy; 2020 <strong>RepLog</strong></small>
    </footer>

  </body>
</html>